<div class="ekart--search--product">
  <input
    type="text"
    class="ekart-search-product-input"
    [(ngModel)]="searchText"
    (input)="onSearchTextChanged()"
  />
  <!--Property binding and event bingind at the same time= 2 way data binding-->
  <button
    [ngClass]="{
      btn: true,
      'btn-search': searchText,
      'btn-search-disabled': !searchText
    }"
    [disabled]="!searchText"
  >
    Seach
  </button>
</div>
<div class="ekart-search-result-for">
  <p *ngIf="searchText != ''">
    <strong> Search result for: </strong>{{ searchText }}
  </p>
</div>
